@model CareerCloud.Pocos.CompanyProfilePoco

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CompanyProfilePoco</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="@Model.CompanyDescriptions.First().CompanyName" class="control-label"></label>
                <input asp-for="@Model.CompanyDescriptions.First().CompanyName" class="form-control" />
                <span asp-validation-for="@Model.CompanyDescriptions.First().CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.CompanyDescriptions.First().CompanyDescription" class="control-label"></label>
                <input asp-for="@Model.CompanyDescriptions.First().CompanyDescription" class="form-control" />
                <span asp-validation-for="@Model.CompanyDescriptions.First().CompanyDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyWebsite" class="control-label"></label>
                <input asp-for="CompanyWebsite" class="form-control" />
                <span asp-validation-for="CompanyWebsite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactPhone" class="control-label"></label>
                <input asp-for="ContactPhone" class="form-control" />
                <span asp-validation-for="ContactPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactName" class="control-label"></label>
                <input asp-for="ContactName" class="form-control" />
                <span asp-validation-for="ContactName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.CompanyDescriptions.First().LanguageId" class="control-label"></label>
                <select asp-for="@Model.CompanyDescriptions.First().LanguageId" class="form-control" asp-items="ViewBag.Language"><option value=""> - Select Language - </option></select>
            </div>

            <div class="form-group">
                <label asp-for="@Model.CompanyLocations.First().Street" class="control-label"></label>
                <input asp-for="@Model.CompanyLocations.First().Street" class="form-control" />
                <span asp-validation-for="@Model.CompanyLocations.First().Street" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.CompanyLocations.First().City" class="control-label"></label>
                <input asp-for="@Model.CompanyLocations.First().City" class="form-control" />
                <span asp-validation-for="@Model.CompanyLocations.First().City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.CompanyLocations.First().Province" class="control-label"></label>
                <input asp-for="@Model.CompanyLocations.First().Province" class="form-control" />
                <span asp-validation-for="@Model.CompanyLocations.First().Province" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.CompanyLocations.First().CountryCode" class="control-label"></label>
                <select asp-for="@Model.CompanyLocations.First().CountryCode" class="form-control" asp-items="ViewBag.Country"><option value=""> - Select Country - </option></select>
            </div>
            <div class="form-group">
                <label asp-for="@Model.CompanyLocations.First().PostalCode" class="control-label"></label>
                <input asp-for="@Model.CompanyLocations.First().PostalCode" class="form-control" />
                <span asp-validation-for="@Model.CompanyLocations.First().PostalCode" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
